{% extends '::layout.html.twig' %}

{% block inner_content %}

    <blockquote class="twitter-tweet col-xs-12">
        <h1>{{ 'settings.area'|trans({}, 'messages') }}</h1>
        {{ 'admin.section'|trans({}, 'messages') }}
    </blockquote>


{% endblock %}
