{% extends '::layout.html.twig' %}

{% block inner_content %}

    <blockquote class="twitter-tweet col-xs-12">
        <h1>Settings Area</h1>
        This section is just for admin users
    </blockquote>


{% endblock %}
