{% extends "AppBundle:Admin:index.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block inner_content %}
    <h1>User Manager</h1>
    {% for user in users %}
       <blockquote class="twitter-tweet col-xs-12">

        {{ dump(user.id) }}
        <a href="{{ path('manageuser', {'id':user.id}) }}"> {{ user }} </a>
       </blockquote>

    {% endfor %}



</ul>
{% endblock %}
