div.parallax-block{
    background-color: white; min-height: 150px;
    bottom:0;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.parallax-window.header {
    min-height: 400px;
    background: transparent;
}

.content{
    margin-top: 50px;
}