div.parallax-block{
    background-color: white; min-height: 150px;

    background-color: #222;
    border-color: #080808;
    color: #9d9d9d;
    margin-top: -30px;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.parallax-window.header {
    min-height: 400px;
    background: transparent;
}

.content{
    margin-top: 50px;
}