{% extends "::layout.html.twig" %}
{% block inner_content %}
                <a href="{{ path('twit_new') }}" class="btn btn-primary">
                Create a new entry
            </a>
{% endblock %}
