{% extends "::layout.html.twig" %}
{% block inner_content %}
    <a href="{{ path('twit_new') }}" class="btn btn-primary">
        {{ 'create.new.entry'|trans({}, 'messages') }}
    </a>
{% endblock %}
