{% extends '::layout.html.twig' %}

{% block inner_content %}
    <h1>{{ 'twit.list'|trans({}, 'messages') }}</h1>


    {% for entity in entities %}
        {% include 'AppBundle:Twit/Includes:twit.html.twig' with {'twit' : entity} %}
    {% endfor %}



    <a href="{{ path('twit_new') }}" class="btn btn-primary">
        {{ 'create.new.entry'|trans({}, 'messages') }}
    </a>

{% endblock %}
