{% extends '::layout.html.twig' %}

{% block inner_content %}
    <h1>Twit creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('twit') }}" class="btn btn-primary">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
