{% extends '::layout.html.twig' %}

{% block inner_content %}
    <h1>{{ 'twit'|trans({}, 'messages') }}</h1>

    {% include 'AppBundle:Twit/Includes:twit.html.twig' with {'twit' : entity} %}


    <a href="{{ path('twit') }}" class="btn btn-primary">
        {{ 'back.to.list'|trans({}, 'messages') }}
    </a>

{% endblock %}
